<div class="card">
    <img class="card-img-top" src="<%= itemPicPath %>" alt="1000xm4">
    <div class="card-body">
        <h5 class="card-title"><%= itemName %></h5>
        <h5 class="card-subtitle">￥<%= itemPrice%></h5>
        <p class="card-text"><%= itemDesc %></p>
        <h5 class="card-sublitle">
        <% if (trans.postSupport) {%> 
            <span class=" badge badge-primary">邮寄</span>
        <%}%>
        <% if (trans.faceToFace) {%> 
            <span class=" badge badge-success">面交</span>
        <%}%>
        <% if (trans.noNeedTrans) {%> 
            <span class=" badge badge-success">无需运送</span>
        <%}%>
        <span class=" badge badge-info"><%= oldNewRate %>新</span>
        </h5>
    </div>
</div>