<html lang="zh-CN">
    <head>
        <%- include ('public/head') %>
    </head>
    <body onload="initItemNav()">
        <%- include ('public/topNav') %><!-- 顶部导航栏 -->
        <p id="tokenArea">
        </p>
        <%- include ('public/foot') %>
        <%- include ('public/bootstrapCore') %>
        <%- include ('public/vue') %>

        <script>
            $(function(){
                token = window.localStorage.getItem('token');
                $.ajax({
                    type: "GET",
                    url: "/toAuth",
                    headers: {'Authorization': `Bearer ${token}`}
                });
            });
            
        </script>
    </body>
</html>