<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <%- include ('public/head') %>
    </head>
    <body>
        <%- include ('public/topNav') %><!-- 顶部导航栏 -->
        <%- include ('especial/index/header') %><!-- 头图 -->
        <!-- container -->
        <div class="container">
            
            <%- include ('especial/index/bulletin') %><!-- 公告栏 -->
            <%- include ('especial/index/itemNav') %><!-- 商品导航栏 -->
            <%- include ('especial/index/modal') %>
            <div class="" id="cardAreas" style="width: 100%;">

                <!-- cardSet -->
            </div>
        </div><!-- container结束 -->
        <%- include ('especial/index/itemModal') %>
        <%- include ('public/foot') %>
        <%- include ('public/bootstrapCore') %>
        <%- include ('public/display') %>
        <%- include ('especial/index/display') %>
        <%- include ('especial/index/script') %>
    </body>
</html>
