<html lang="zh-CN">
<head>
    <%- include ('public/head') -%>
</head>
<body>
    <%- include ('public/topNav') -%>
    <div class="container" style="margin-top: 2rem;">
        <%- include ('especial/myhome/myhome') -%>
        <%- include ('public/foot') -%>
        <%- include ('public/bootstrapCore') -%>
        <%- include ('especial/myhome/script') -%>
        <%- include ('especial/myhome/display') -%>

        
    </div>
     
</body>
</html>