<html lang="zh-CN">
    <head>
        <%- include ('public/head') %>
        <%- include ('public/fileinput') %>

    </head>
    <body>
        <%- include ('public/topNav') %><!-- 顶部导航栏 -->        <!-- container -->
        <div class="container" style="margin-top: 2rem;">
            <%- include ('especial/submit/form') %>
        </div><!-- container结束 -->
        <%- include ('public/foot') %>
        <%- include ('public/bootstrapCore') %><!-- bootstrap & jQuery -->
        <%- include ('especial/submit/display') %>
        <%- include ('especial/submit/ajax_submit') %>
        <%- include ('public/display') %>
        <%- include ('especial/submit/picture_upload') %>
        

    </body>
</html>